$sky-light: #e0f2fe;
$amber:#fbbf24;
$purple-dark:#581c87;
$blue-dark:#283881;
$slate:#94a3b8;
$blue-light:#dbeafe;
$gray-dark: #111827;
$gray-medium:#6b7280;
$slate-light: #f8fafc;
$amber-light: #fef3c7;

$spacing-sx:0.25rem;
$spacing-sm:0.5rem;
$spacing-md:1rem;
$spacing-lg:2rem;
$spacing-xl:2rem;
$spacing-2xl:5rem;
$spacing-3xl:8rem;

$header-height:900px;
$footer-height:500px;
$content-height:200px;
$main-section-height:900px;

$max-content-width:1360px;
$footer-content-width:1200px;